body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #dbe2fa;
  font-family: Arial, sans-serif;
}
.outer-box {
  width: 300px;
  height: 54vh;
  padding: 20px;
  border: 2px solid #000;
  border-radius: 10px;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.inner-box {
  width: 38vh;
  height: 34vh;
  margin: 0 auto;
  background-color: #3498db;
  border-radius: 8px;
}
.text-below {
  margin-top: 15px;
  font-size: 16px;
  color: #333;
}
.inner-box img {
  padding: 55px 0;
  height: 20vh;
  width: 22vh;
}
.text-below h4 {
  line-height: 1.5em;
  letter-spacing: 2px;
  font-weight: bolder;
}